/* HeroesComponent's private CSS styles */
.repos {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  .repos li {
    position: relative;
    background-color: #EEE;
    margin: .5em;
    padding: .3em;
    border-radius: 4px;
  }
  .repos .badge {
    display: inline-block;
    font-size: Large;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#0b2d52;
    line-height: 1em;
    position: relative;
    height: 1.8em;
    margin-right: .8em;
    margin-bottom: .4em;
    border-radius: 4px;
  }
  .repos .tag {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#4486cc;
    line-height: 1em;
    position: relative;
    height: 1.8em;
    margin-right: .2em;
    border-radius: 20px;
  }
  .repos .description {
    color: #595959;
  }