<ul class="repos">
    <li *ngFor="let repo of repos">
        <a href={{repo.web_url}}>
            <div class="badge">{{repo.name}}</div>
        </a>
        <span *ngFor="let tag of repo.tag_list" class='tag'>{{tag}}</span>
        <div class='description'>{{repo.description}}</div>
    </li>
</ul>
